mixin sprite
  .visually-hidden(aria-hidden='true')&attributes(attributes).
    <svg xmlns='http://www.w3.org/2000/svg'>
      <symbol id='icon-bubble' viewBox='0 0 32 32'>
        <path
          fill='currentColor'
          d='M16 7c-5.963 0-11 3.21-11 7a.5.5 0 001 0c0-3.2 4.673-6 10-6a.5.5 0 000-1zm0-5C7.163 2 0 7.37 0 14c0 4.13 2.779 7.77 7.008 9.93 0 .02-.008.04-.008.07 0 1.79-1.339 3.72-1.928 4.74a.9.9 0 00-.074.35.909.909 0 00.906.91 1.235 1.235 0 01.255-.01c3.125-.51 6.069-3.39 6.753-4.22A20.768 20.768 0 0016 26c8.836 0 16-5.37 16-12S24.836 2 16 2zm0 22a19.02 19.02 0 01-2.8-.21 2.845 2.845 0 00-.29-.02 2.02 2.02 0 00-1.546.73 13.306 13.306 0 01-3.085 2.54 7.8 7.8 0 00.716-2.93c.006-.06.009-.13.009-.18a2.013 2.013 0 00-1.09-1.79C4.208 20.25 1.996 17.21 1.996 14c0-5.51 6.28-10 14-10s14 4.49 14 10S23.72 24 16 24z'
        />
      </symbol>
      <symbol id='icon-bulb' viewBox='0 0 32 32'>
        <path
          fill='currentColor'
          d='M16 0A11 11 0 005 11c0 4.031 3.689 8.3 5.031 12.055 2 5.6 1.782 8.945 5.969 8.945 4.25 0 3.965-3.334 5.969-8.922C23.316 19.319 27 15 27 11A11 11 0 0016 0zm2.593 27.176l-4.959.62a47.142 47.142 0 01-.6-1.893c0-.01-.007-.022-.009-.032l6.189-.773c-.088.3-.183.606-.264.884-.129.449-.25.839-.357 1.194zm-5.857-2.268q-.271-.9-.615-1.908h7.766c-.122.36-.245.719-.352 1.059zM16 30a1.737 1.737 0 01-2-1.25l4.238-.53C17.628 29.873 17.181 30 16 30zm4.672-9h-9.333c-.5-1.079-1.1-2.16-1.686-3.217C8.353 15.448 7 13.033 7 11a9 9 0 0118 0c0 2.018-1.35 4.446-2.655 6.795-.585 1.054-1.178 2.131-1.673 3.205zM16 5a6.006 6.006 0 00-6 6 .5.5 0 001 0 5.006 5.006 0 015-5 .5.5 0 000-1z'
        />
      </symbol>
      <symbol id='icon-chevron-left' viewBox='0 0 320 512'>
        <path
          fill='currentColor'
          d='M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z'
        />
      </symbol>
      <symbol id='icon-chevron-right' viewBox='0 0 320 512'>
        <path
          fill='currentColor'
          d='M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z'
        />
      </symbol>
      <symbol id='icon-facebook' viewBox='0 0 50 90'>
        <path
          fill='currentColor'
          d='M50 15.65H35.72c-1.69 0-3.57 2.22-3.57 5.19v10.31H50v14.7H32.14V90H15.29V45.85H0v-14.7h15.29V22.5C15.29 10.09 23.9 0 35.72 0H50v15.65z'
        />
      </symbol>
      <symbol id='icon-google+' viewBox='0 0 89.61 88'>
        <path
          fill='currentColor'
          d='M4.75 21.94c0 7.47 2.49 12.86 7.41 16.03 4.03 2.59 8.7 2.98 11.13 2.98.59 0 1.06-.02 1.39-.04 0 0-.77 5.02 2.95 9.98h-.17C21.02 50.89 0 52.23 0 69.52 0 87.1 19.31 87.99 23.18 87.99c.3 0 .48-.01.48-.01.04 0 .32.01.79.01 2.49 0 8.91-.31 14.88-3.21C47.07 81.03 51 74.49 51 65.36c0-8.83-5.98-14.08-10.35-17.92-2.67-2.34-4.97-4.36-4.97-6.32 0-2 1.68-3.5 3.81-5.41 3.45-3.08 6.69-7.47 6.69-15.75 0-7.29-.95-12.18-6.77-15.28.61-.31 2.75-.54 3.81-.68C46.38 3.56 51 3.07 51 .5V0H28.01C27.78.01 4.75.86 4.75 21.94zm37.12 45.07c.44 7.03-5.58 12.22-14.61 12.88-9.17.67-16.73-3.46-17.17-10.48-.21-3.37 1.27-6.68 4.18-9.32 2.95-2.67 6.99-4.31 11.39-4.64.52-.03 1.04-.05 1.55-.05 8.5-.01 14.25 4.98 14.66 11.61zm-6-49.88c2.26 7.93-1.15 16.23-6.58 17.76-.62.17-1.27.26-1.92.26-4.97 0-9.9-5.03-11.72-11.96-1.02-3.89-.94-7.3.23-10.57 1.15-3.22 3.21-5.39 5.81-6.12.63-.18 1.27-.27 1.92-.27 6.01.01 9.87 2.49 12.26 10.9zm38.74 17.28v-15h-9.5v15h-15v9.5h15v15h9.5v-15h15v-9.5h-15z'
        />
      </symbol>
      <symbol id='icon-heart' viewBox='0 0 32 32'>
        <path
          fill='currentColor'
          d='M29.192 4.792A9.632 9.632 0 0016 4.505a9.632 9.632 0 00-13.192.287 9.4 9.4 0 000 13.4l11.053 10.93a3.048 3.048 0 004.278 0l11.053-10.93a9.4 9.4 0 000-13.4zm-1.427 11.989l-11.052 10.93a1.016 1.016 0 01-1.425 0L4.235 16.781a7.429 7.429 0 010-10.579 7.6 7.6 0 0110.409-.222L16 7.2l1.356-1.219a7.6 7.6 0 0110.409.222 7.427 7.427 0 010 10.578zM9.252 7.026A4.247 4.247 0 005 11.271a.5.5 0 001 0 3.248 3.248 0 013.249-3.245.5.5 0 10.003-1z'
        />
      </symbol>
      <symbol id='icon-linkedin' viewBox='0 0 90 88.74'>
        <path
          fill='currentColor'
          d='M20.38 9.62c0 5.32-3.92 9.62-10.38 9.62-6.07 0-10-4.3-10-9.62C0 4.18 4.05 0 10.25 0s10 4.18 10.13 9.62zM.51 88.74v-61.9h19.24v61.9H.51zm30.75-42.16c0-7.72-.25-14.18-.5-19.75h16.71l.89 8.61h.38c2.53-4.05 8.73-10 19.12-10C80.51 25.44 90 33.93 90 52.15v36.58H70.76v-34.3c0-7.98-2.79-13.42-9.75-13.42-5.32 0-8.48 3.67-9.87 7.21-.51 1.26-.63 3.04-.63 4.81v35.7H31.26V46.58z'
        />
      </symbol>
      <symbol id='icon-location' viewBox='0 0 50 80'>
        <path
          fill='currentColor'
          d='M25 0C11.19 0 0 11.19 0 25c0 23.87 25 55 25 55s25-31.13 25-55C50 11.19 38.81 0 25 0zm0 38.8c-7.46 0-13.5-6.04-13.5-13.5S17.54 11.8 25 11.8s13.5 6.04 13.5 13.5S32.46 38.8 25 38.8z'
        />
      </symbol>
      <symbol id='icon-mail' viewBox='0 0 90 58'>
        <path
          fill='currentColor'
          d='M2.97 5.43c2.44 1.31 36.24 19.47 37.5 20.14 1.26.68 2.89 1 4.53 1s3.27-.33 4.53-1c1.26-.68 35.06-18.83 37.5-20.14C89.47 4.12 91.78 0 87.3 0H2.7c-4.48 0-2.17 4.12.27 5.43zm85.09 10c-2.77 1.45-36.83 19.26-38.53 20.14-1.7.89-2.89 1-4.53 1s-2.83-.12-4.53-1c-1.7-.89-35.76-18.7-38.53-20.14C-.02 14.41 0 15.6 0 16.53v36.68C0 55.3 2.79 58 4.96 58h80.08c2.17 0 4.96-2.7 4.96-4.79V16.53c0-.92.02-2.12-1.94-1.1z'
        />
      </symbol>
      <symbol id='icon-pen' viewBox='0 0 32 32'>
        <path
          fill='currentColor'
          d='M29.4 2.58A8.546 8.546 0 0023.449 0a6.541 6.541 0 00-4.669 1.877l-4.867 4.9c-.015.014-.032.024-.047.038s-.013.019-.021.027L3.515 17.25a4.02 4.02 0 00-1.013 1.705L.153 27.463A6.849 6.849 0 000 28.5 3.5 3.5 0 003.5 32a7.142 7.142 0 001.157-.187l8.478-2.229a4.021 4.021 0 001.705-1.016l15.263-15.382c2.781-2.78 2.468-7.436-.703-10.606zM16.015 23.8a8.148 8.148 0 00-.719-2.628l9.454-9.453a4.876 4.876 0 01-.986 5c-.008.008-.017.012-.025.02l.013.013-7.728 7.789c.001-.248.013-.492-.009-.741zm-1.221-3.54a9.044 9.044 0 00-1.322-1.728 8.953 8.953 0 00-2.044-1.493L20.96 7.5a6.9 6.9 0 013.378 3.208zm-4.307-3.693a7.979 7.979 0 00-2.868-.6l7.7-7.762a4.8 4.8 0 014.588-1.061zm-6.318 13.31a4.739 4.739 0 01-.679.127A1.5 1.5 0 012 28.5a5.1 5.1 0 01.1-.563l1.053-3.814a4.74 4.74 0 014.733 4.774zm4.706-1.236A5.584 5.584 0 007.2 24.8a5.692 5.692 0 00-3.766-1.7l1-3.608a1.975 1.975 0 01.391-.684c2.006-1.436 5.091-1.012 7.234 1.133 2.267 2.266 2.617 5.586.871 7.568a2.13 2.13 0 01-.359.157zm19.818-16.864l-1.685 1.7c0-.226.027-.443.007-.674a8.834 8.834 0 00-8.472-7.84l1.657-1.67A4.547 4.547 0 0123.449 2a6.911 6.911 0 016.539 6.163 4.583 4.583 0 01-1.296 3.61z'
        />
      </symbol>
      <symbol id='icon-phone' viewBox='0 0 80 80'>
        <path
          fill='currentColor'
          d='M46.14 46.14C38.23 54.06 29.06 61.63 25.43 58c-5.19-5.19-8.39-9.71-19.83-.52-11.44 9.2-2.65 15.32 2.37 20.35 5.8 5.8 27.42.31 48.79-21.06C78.14 35.4 83.64 13.78 77.84 7.98 72.81 2.95 66.68-5.83 57.49 5.61c-9.19 11.43-4.68 14.63.51 19.82 3.63 3.63-3.94 12.79-11.86 20.71z'
        />
      </symbol>
      <symbol id='icon-smartphone' viewBox='0 0 32 32'>
        <path
          fill='currentColor'
          d='M24 0H8a3 3 0 00-3 3v26a3 3 0 003 3h16a3 3 0 003-3V3a3 3 0 00-3-3zm1 29a1 1 0 01-1 1H8a1 1 0 01-1-1v-2h18v2zm0-3H7V6h18v20zm0-21H7V3a1 1 0 011-1h16a1 1 0 011 1v2zm-7-1.5a.5.5 0 01-.5.5h-3a.5.5 0 01-.5-.5.5.5 0 01.5-.5h3a.5.5 0 01.5.5zm-1 25a.5.5 0 01-.5.5h-1a.5.5 0 01-.5-.5.5.5 0 01.5-.5h1a.5.5 0 01.5.5z'
        />
      </symbol>
      <symbol id='icon-star' viewBox='0 0 32 32'>
        <path
          fill='currentColor'
          d='M31.881 12.06a2.288 2.288 0 00-1.843-1.51l-8.326-1.24-3.62-7.52a2.341 2.341 0 00-4.184 0l-3.619 7.52-8.327 1.24A2.282 2.282 0 00.12 12.06a2.194 2.194 0 00.537 2.28l6.1 6.09-1.415 8.46a2.222 2.222 0 00.948 2.2 2.373 2.373 0 001.331.41 2.335 2.335 0 001.118-.28l7.259-3.91 7.26 3.91a2.331 2.331 0 001.117.28 2.38 2.38 0 001.332-.41 2.225 2.225 0 00.948-2.2l-1.416-8.46 6.1-6.09a2.2 2.2 0 00.542-2.28zm-8.293 6.8a2.22 2.22 0 00-.626 1.94l1.415 8.45-7.259-3.91a2.37 2.37 0 00-2.235 0l-7.26 3.91 1.416-8.45a2.22 2.22 0 00-.626-1.94l-6.1-6.09 8.326-1.24a2.3 2.3 0 001.744-1.27l3.619-7.51 3.62 7.51a2.3 2.3 0 001.742 1.27l8.327 1.24z'
        />
      </symbol>
      <symbol id='icon-twitter' viewBox='0 0 92 74.77'>
        <path
          fill='currentColor'
          d='M92 8.85c-3.39 1.5-7.02 2.52-10.84 2.97 3.9-2.34 6.89-6.04 8.3-10.44a37.993 37.993 0 01-11.99 4.58A18.837 18.837 0 0063.7 0C53.27 0 44.82 8.45 44.82 18.87c0 1.48.17 2.92.49 4.3-15.69-.79-29.6-8.3-38.9-19.72a18.744 18.744 0 00-2.56 9.49c0 6.55 3.33 12.32 8.4 15.71-3.09-.1-6-.95-8.55-2.36v.24c0 9.15 6.51 16.77 15.14 18.51a18.923 18.923 0 01-8.52.32c2.4 7.5 9.37 12.96 17.63 13.11a37.889 37.889 0 01-23.44 8.08c-1.52 0-3.03-.09-4.5-.27a53.364 53.364 0 0028.93 8.48c34.72 0 53.7-28.76 53.7-53.71 0-.82-.02-1.63-.05-2.44 3.68-2.65 6.88-5.97 9.41-9.76z'
        />
      </symbol>
    </svg>
